{%extends 'base.html'%} {%load static%} {% block content %}
<div class="demo coursemeal">

    <!-- APPETIZERS-->
    <div class="coursemeal__div ">

        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="/static/img/appetizer.jpg">
            <source media="(min-width: 767px)" srcset="/static/img/appetizer.jpg">
            <source srcset="/static/img/appetizer.jpg">
            <img src="/static/img/appetizer.jpg" alt="Appetizer">
        </picture>

        <div class="coursemeal-info">
            <a href="#" class="coursemeal-info__link">Appetizer</a>
        </div>
    </div>


    <!-- MAIN COURSE-->
    <div class="coursemeal__div">

        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="./img/main meal.jpg">
            <source media="(min-width: 767px)" srcset="./img/main meal.jpg">
            <source srcset="./img/main meal.jpg">
            <img src="/static/img/main meal.jpg" alt="Main Course">
        </picture>

        <div class="coursemeal-info">
            <a href="#" class="coursemeal-info__link">Meals</a>
        </div>
    </div>

    <!-- DESSERTS-->
    <div class="coursemeal__div">

        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="/static/img/desserts.jpg">
            <source media="(min-width: 767px)" srcset="/static/img/desserts.jpg">
            <source srcset="/static/img/desserts.jpg">
            <img src="/static/img/desserts.jpg" alt="Desserts">
        </picture>

        <div class="coursemeal-info">
            <a href="#" class="coursemeal-info__link">Dessert</a>
        </div>
    </div>


</div>




<div class="container">

    <div class="card">
        <div class="imgBx">
            <img src="/static/img/cake pastry.jpg">
        </div>
        <div class="contentBx">
            <h2>cake pastry</h2>
            <div class="size">
                <h3></h3>
                <span></span>

            </div>
            <div class="color">
                <h3>price :</h3>
                <span>Rs 50</span>

            </div>
            <a href="#">order Now</a>
            <a href="#">add to orders</a>
        </div>
    </div>

    <div class="card">
        <div class="imgBx">
            <img src="/static/img/meal.jpg">
        </div>
        <div class="contentBx">
            <h2>Toor dal / Arhar dal</h2>
            <div class="size">
                <h3></h3>
                <span></span>

            </div>
            <div class="color">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="#">order Now</a>
            <a href="#">add to orders</a>
        </div>
    </div>

    <div class="card">
        <div class="imgBx">
            <img src="/static/img/momo.webp">
        </div>
        <div class="contentBx">
            <h2>momo</h2>
            <div class="size">
                <h3></h3>
                <span></span>

            </div>
            <div class="color">
                <h3>price :</h3>
                <span>Rs 80</span>

            </div>
            <a href="#">order Now</a>
            <a href="#">add to orders</a>
        </div>
    </div>

    <div class="card">
        <div class="imgBx">
            <img src="/static/img/fries.jpg">
        </div>
        <div class="contentBx">
            <h2>french fries</h2>
            <div class="size">
                <h3>weight :</h3>
                <span>1 kg</span>

            </div>
            <div class="color">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="#">order Now</a>
            <a href="#">add to orders</a>
        </div>
    </div>

    <div class="card">
        <div class="imgBx">
            <img src="/static/img/chowmein.jpg">
        </div>
        <div class="contentBx">
            <h2>Toor dal / Arhar dal</h2>
            <div class="size">
                <h3>weight :</h3>
                <span>1 kg</span>

            </div>
            <div class="color">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="#">Buy Now</a>
            <a href="#">add to cart</a>
        </div>
    </div>
</div>


<div class="demo coursemeal">

    <!-- dry food grocery-->
    <div class="coursemeal__div ">

        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="/static/img/dry food and grocery.jpg">
            <source media="(min-width: 767px)" srcset="/static/img/dry food and grocery.jpg">
            <source srcset="/static/img/dry food and grocery.jpg">
            <img src="/static/img/dry food and grocery.jpg" alt="Appetizer">
        </picture>

        <div class="coursemeal-info">
            <a href="#" class="coursemeal-info__link">dry food grocery</a>
        </div>
    </div>


    <!-- beverages and dairy products-->
    <div class="coursemeal__div">

        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="/static/img/dairy products.jpg">
            <source media="(min-width: 767px)" srcset="/static/img/dairy products.jpg">
            <source srcset="/static/img/dairy products.jpg">
            <img src="/static/img/dairy products.jpg" alt="Main Course">
        </picture>

        <div class="coursemeal-info">
            <a href="#" class="coursemeal-info__link">beverages and dairy products</a>
        </div>
    </div>

    <!-- spices-->
    <div class="coursemeal__div">

        <picture class="responsive-img">
            <source media="(min-width: 992px)" srcset="/static/img/spices.jpg">
            <source media="(min-width: 767px)" srcset="/static/img/spices.jpg">
            <source srcset="/static/img/spices.jpg">
            <img src="/static/img/spices.jpg" alt="Desserts">
        </picture>

        <div class="coursemeal-info">
            <a href="#" class="coursemeal-info__link">spices</a>
        </div>
    </div>


</div>

<div class="container">

    <div class="card">
        <div class="imgBx">
            <img src="/static/img/tikhalal-chilli.jpg">
        </div>
        <div class="contentBx">
            <h2>Everest Tikhalal</h2>
            <div class="size">
                <h3>weight :</h3>
                <span>100 gm</span>

            </div>
            <div class="color">
                <h3>price :</h3>
                <span>Rs 50</span>

            </div>
            <a href="#">Buy Now</a>
            <button id="pr{{product.0.id}}" class="btn btn-light cart">Add To Cart</button>

        </div>
    </div>

    <div class=" card ">
        <div class="imgBx ">
            <img src="/static/img/amul-homogenised-standardised-milk.jpg ">
        </div>
        <div class="contentBx ">
            <h2>Amul milk gold</h2>
            <div class="size ">
                <h3>weight :</h3>
                <span>1 ltr</span>

            </div>
            <div class="color ">
                <h3>price :</h3>
                <span>Rs 140</span>

            </div>
            <a href="#">Buy Now</a>
            <button id="pr{{i.id}}" class="btn btn-light cart">Add To Cart</button>
        </div>
    </div>

    <div class=" card ">
        <div class="imgBx ">
            <img src="/static/img/daawat-basmati-rice-rozana-gold.jpg ">
        </div>
        <div class="contentBx ">
            <h2>Daawat basmati rice</h2>
            <div class="size ">
                <h3>weight :</h3>
                <span>5 kg</span>

            </div>
            <div class="color ">
                <h3>Price :</h3>
                <span>Rs 449</span>

            </div>
            <a href="# ">Buy Now</a>
            <button id="pr{{product.i.id}}" class="btn btn-light cart">Add To Cart</button>
        </div>
    </div>

    <div class=" card ">
        <div class="imgBx ">
            <img src="/static/img/arhar-dal.jpg ">
        </div>
        <div class="contentBx ">
            <h2>Toor dal / Arhar dal</h2>
            <div class="size ">
                <h3>weight :</h3>
                <span>1 kg</span>

            </div>
            <div class="color ">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="# ">Buy Now</a>
            <button id="pr{{product.i.id}}" class="btn btn-light cart">Add To Cart</button>
        </div>
    </div>

    <div class=" card ">
        <div class="imgBx ">
            <img src="/static/img/aashirwaad atta.jpg ">
        </div>
        <div class="contentBx ">
            <h2>Toor dal / Arhar dal</h2>
            <div class="size ">
                <h3>weight :</h3>
                <span>1 kg</span>

            </div>
            <div class="color ">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="# ">Buy Now</a>
            <button id="pr{{product.i.id}}" class="btn btn-light cart">Add To Cart</button>
        </div>
    </div>

    <div class=" card ">
        <div class="imgBx ">
            <img src="/static/img/Gokul-Mustard-Oil.jpg ">
        </div>
        <div class="contentBx ">
            <h2>Toor dal / Arhar dal</h2>
            <div class="size ">
                <h3>weight :</h3>
                <span>1 kg</span>

            </div>
            <div class="color ">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="# ">Buy Now</a>
            <button id="pr{{product.i.id}}" class="btn btn-light cart">Add To Cart</button>
        </div>
    </div>

    <div class=" card ">
        <div class="imgBx ">
            <img src="/static/img/potato.jpg ">
        </div>
        <div class="contentBx ">
            <h2>Toor dal / Arhar dal</h2>
            <div class="size ">
                <h3>weight :</h3>
                <span>1 kg</span>

            </div>
            <div class="color ">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="# ">Buy Now</a>
            <button id="ids" class="btn btn-light cart">Add To Cart</button>
        </div>
    </div>

    <div class="card ">
        <div class="imgBx ">
            <img src="/static/img/garlic.jpg ">
        </div>
        <div class="contentBx ">
            <h2>Toor dal / Arhar dal</h2>
            <div class="size ">
                <h3>weight :</h3>
                <span>1 kg</span>

            </div>
            <div class="color ">
                <h3>price :</h3>
                <span>Rs 110</span>

            </div>
            <a href="#">Buy Now</a>
            <a href="#popcart" class="cart">add to cart</a>
        </div>
    </div>
</div>





<div class="modal fade " id="modal " data-bs-backdrop="static " tabindex="-1 " aria-labelledby="staticBackdropLabel " aria-hidden="true ">
    <div class="modal-dialog modal-sm modal-dialog-centered ">
        <div class="modal-content gradient-custom-3 ">
            <div class="modal-header ">
                <h4 class="modal-title " id="staticBackdropLabel "> <strong>Create an account</strong></h4>
                <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close "></button>
            </div>
            <div class="modal-body ">
                <form>

                    <div class="form-outline mb-4 ">
                        <input type="text " id="sname " class="form-control form-control-lg " />
                        <label class="form-label " for="sname ">Your Name</label>
                    </div>

                    <div class="form-outline mb-4 ">
                        <input type="email " id="semail " class="form-control form-control-lg " />
                        <label class="form-label " for="semail ">Your Email</label>
                    </div>

                    <div class="form-outline mb-4 ">
                        <input type="password " id="spassword " class="form-control form-control-lg " />
                        <label class="form-label " for="spassword ">Password</label>
                    </div>

                    <div class="form-outline mb-4 ">
                        <input type="password " id="srpassword " class="form-control form-control-lg " />
                        <label class="form-label " for="srpassword ">Repeat your password</label>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5 ">
                        <input class="form-check-input me-2 " type="checkbox " value=" " id="cbox " />
                        <label class="form-check-label " for="cbox ">
                                    I agree all statements in <a href="#! " class="text-body "><u>Terms of service</u></a>
                                </label>
                    </div>

                    <div class="d-flex justify-content-center ">
                        <button type="button " class="btn btn-success btn-block btn-lg gradient-custom-4 text-body ">Register</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0 ">Already have an account? <a href="# " class="fw-bold text-body " data-bs-toggle="modal " data-bs-dismiss="modal " data-bs-target="#myModal2 "><u>Login here</u></a></p>

                </form>
            </div>
        </div>
    </div>

</div>



<div class="modal fade " id="myModal2 " data-bs-backdrop="static " tabindex="-1 " aria-labelledby="staticBackdropLabel " aria-hidden="true ">
    <div class="modal-dialog modal-sm modal-dialog-centered ">
        <div class="modal-content gradient-custom-3 ">
            <div class="modal-header ">

                <h4 class="modal-title " id="staticBackdropLabel "> <strong>Welcome Back</strong></h4>
                <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close "></button>
            </div>
            <div class="modal-body ">
                <p>Enter Details</p>

                <form>

                    <div class="form-outline mb-4 ">
                        <input type="email " id="lemail " class="form-control form-control-lg " />
                        <label class="form-label " for="lemail ">Your Email</label>
                    </div>

                    <div class="form-outline mb-4 ">
                        <input type="password " id="lpassword " class="form-control form-control-lg " />
                        <label class="form-label " for="lpassword ">Password</label>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0 ">Don't have an account? <a href="# " data-bs-toggle="modal " data-bs-dismiss="modal " data-bs-target="#modal " class="fw-bold text-body "><u>Create Here</u></a></p>

                </form>
            </div>
            <div class="modal-footer ">

                <div class="d-flex justify-content-center ">
                    <button type="button " class="btn btn-success btn-block btn-lg gradient-custom-4 text-body ">Log
                                in</button>
                </div>

            </div>
        </div>
    </div>






</div>{% endblock %}